<div id="main-photos-landscape" class="container-fluid bg-white-tra60 pt-4 pb-5 bg-primary-tra10 text-white">
    <div class="row">
        <div class="col-12 no-gutters pr-0 pl-0 bg-transparent">
            <div id="main-photos-horizontal-swiper" class="swiper-container photos-landscape">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <!--
                        <div data-background="{{ asset('') }}" content="{{ asset('') }}" data-toggle="lightbox" class="swiper-lazy">
                            <div class="swiper-lazy-preloader swiper-lazy-preloader"></div>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
