<div id="main-photos-portrait" class="container-fluid bg-white-tra60 pt-4 pb-5  bg-primary-tra10 text-white">
    <div class="row">
        <div class="col-12 no-gutters pr-0 pl-0 bg-transparent">
            <div id="main-photos-vertical-swiper" class="swiper-container photos-portrait">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div data-background="https://via.placeholder.com/600x800.png?text=Foto1" class="swiper-lazy">
                            <div class="swiper-lazy-preloader swiper-lazy-preloader"></div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div data-background="https://via.placeholder.com/300x900.png?text=Foto2" class="swiper-lazy">
                            <div class="swiper-lazy-preloader swiper-lazy-preloader"></div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div data-background="https://via.placeholder.com/100x500.png?text=Foto3" class="swiper-lazy">
                            <div class="swiper-lazy-preloader swiper-lazy-preloader"></div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div data-background="https://via.placeholder.com/300x800.png?text=Foto4" class="swiper-lazy">
                            <div class="swiper-lazy-preloader swiper-lazy-preloader"></div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div data-background="https://via.placeholder.com/300x300.png?text=Foto5" class="swiper-lazy">
                            <div class="swiper-lazy-preloader swiper-lazy-preloader"></div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div data-background="https://via.placeholder.com/800x600.png?text=Foto6" class="swiper-lazy">
                            <div class="swiper-lazy-preloader swiper-lazy-preloader"></div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div data-background="https://via.placeholder.com/800x600.png?text=Foto7" class="swiper-lazy">
                            <div class="swiper-lazy-preloader swiper-lazy-preloader"></div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div data-background="https://via.placeholder.com/800x600.png?text=Foto8" class="swiper-lazy">
                            <div class="swiper-lazy-preloader swiper-lazy-preloader"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
