<div id="main-photos-portrait" class="container-fluid bg-white-tra60 pt-4 pb-5  bg-primary-tra10 text-white">
    <div class="row">
        <div class="col-12 no-gutters pe-0 ps-0 bg-transparent">
            <div id="main-photos-vertical-swiper" class="swiper-container photos-portrait">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <!--
                        <div data-background="https://via.placeholder.com/600x800.png?text=Foto1" class="swiper-lazy">
                            <div class="swiper-lazy-preloader swiper-lazy-preloader"></div>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
