<div class="row">
    <div class="col-12">
        <header>
            <h2 class="text-uppercase">{{ page.name }}</h2>
        </header>
    </div>
    <div class="col-12">
        {{ page.textValue|markdown_to_html }}
    </div>
</div>
