{% block before_content %}{% endblock before_content %}
<div class="row faq-container" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <article class="col-12">
        <header>
            <h3 class="faq-question" itemprop="name"><span class="small">{{ question.textValue }}</span></h3>
        </header>
        {% if question.answer %}
            <main itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                <p class="faq-answer" itemprop="text">{{ question.answer }}</p>
            </main>
        {% endif %}
    </article>
</div>
{% block after_content %}{% endblock after_content %}
