{% block before_content %}{% endblock before_content %}
<div class="row">
    <div class="col-12">
        <p class="faq-question">{{ question.textContent }}</p>
        {% for answer in question.answers %}
            <p class="faq-answer">{{ answer.textValue }}</p>
        {% endfor %}
    </div>
</div>
{% block after_content %}{% endblock after_content %}
