{% extends '@ZakjakubOswisCore/web/page-skeleton-default.html.twig' %}

{% set page = "faq" %}

{% block body_content %}
    <main class="container web-faq-main" id="main-content-container">
        <header class="row">
            <h2 class="col-lg-12 text-uppercase">Časté dotazy</h2>
        </header>
        {% include '@ZakjakubOswisWeb/web/parts/web-faq.html.twig' %}
    </main>
{% endblock body_content %}

