{% extends '@OswisOrgOswisCore/web/page-skeleton-default.html.twig' %}

{% set page = "faq" %}

{% block html_title %}Často kladené dotazy (FAQ) :: {{ oswis.web.name }}{% endblock %}

{% block body_content %}
    <main class="container web-faq-main" id="main-content-container" itemscope itemtype="https://schema.org/FAQPage">
        <header class="row">
            <section class="col-lg-12 text-uppercase">
                <h2>
                    <i class="fas fa-question-circle"></i>
                    Časté dotazy
                </h2>
            </section>
        </header>
        {% block faq_pre %}
        {% endblock faq_pre %}
        {% for question in questions|default %}
            {% include '@OswisOrgOswisWeb/web/parts/web-faq.html.twig' %}
        {% else %}
            <div class="row faq-container" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                <article class="col-12">
                    <p>Aktuálně zde nejsou k dispozici žádné zodpovězené dotazy.</p>
                </article>
            </div>
        {% endfor %}
        {% block faq_post %}
        {% endblock faq_post %}
    </main>
{% endblock body_content %}

