{% extends '@OswisOrgOswisCore/web/page-skeleton-default.html.twig' %}

{% set page = "faq" %}
{% set default_title = 'Často kladené dotazy' %}

{% block body_content %}
    <main class="container web-faq-main" id="main-content-container" itemscope itemtype="https://schema.org/FAQPage">
        <header class="row">
            <h2 class="col-lg-12 text-uppercase">Časté dotazy</h2>
        </header>
        {% include '@OswisOrgOswisWeb/web/parts/web-faq.html.twig' %}
    </main>
{% endblock body_content %}

