{% for actuality in actualities %}
    {% include '@OswisOrgOswisWeb/web/parts/web-actuality-preview.html.twig' with {'loop': loop} %}
{% else %}
    {% if page is defined and page > 0 %}
        {% include '@OswisOrgOswisWeb/web/parts/web-actuality-preview.html.twig'
            with {'name': 'Žádné novinky', 'textValue': 'Na tuto stránku nezbyly žádné aktuality.'} %}
    {% else %}
        {% include '@OswisOrgOswisWeb/web/parts/web-actuality-preview.html.twig'
            with {'name': 'Žádné novinky', 'textValue': 'Nebyly nalezeny žádné aktuality.'} %}
    {% endif %}
{% endfor %}
{% if pagination is defined and pagination %}
    <div class="col-12 actualities-pagination">
        <div class="container">
            <nav class="row">
                {% if actualities|length >= limit %}
                    <a class="col-6 text-start"
                       href="{{ path('oswis_org_oswis_web_actualities', {'page': page + 1, 'limit': limit}) }}">⇐<small class="d-none d-md-inline"> Starší</small></a>
                {% else %}
                    <span class="col-6 text-start text-muted">⇐<small class="d-none d-md-inline"> Starší</small></span>
                {% endif %}
                {% if page > 0 %}
                    <a class="col-6 text-end"
                       href="{{ path('oswis_org_oswis_web_actualities', {'page': page - 1, 'limit': limit}) }}"><small class="d-none d-md-inline">Novější </small>⇒</a>
                {% else %}
                    <span class="col-6 text-end text-muted"><small class="d-none d-md-inline">Novější </small>⇒</span>
                {% endif %}
            </nav>
        </div>
    </div>
{% endif %}