{% extends '@OswisOrgOswisCore/web/page-skeleton-default.html.twig' %}

{% set page = "web-actuality" %}

{% block html_title %}{{ pageData.name }} :: {{ oswis.web.name }}{% endblock %}
{% block html_description %}{{ pageData.textValue|markdown_to_html|striptags|u.truncate(100, '...', false) }}{% endblock %}

{% block body_content %}
    <main class="container web-actuality-main" id="main-content-container">
        {% include '@OswisOrgOswisWeb/web/parts/web-actuality.html.twig' %}
    </main>
{% endblock body_content %}

