{% for actuality in actualities %}
    {% include '@OswisOrgOswisWeb/web/parts/web-actuality-preview.html.twig' with {'loop': loop} %}
{% else %}
    {% if page is defined and page > 0 %}
        {% include '@OswisOrgOswisWeb/web/parts/web-actuality-preview.html.twig'
            with {'name': 'Žádné novinky', 'textValue': 'Na tuto stránku nezbyly žádné aktuality.'} %}
    {% else %}
        {% include '@OswisOrgOswisWeb/web/parts/web-actuality-preview.html.twig'
            with {'name': 'Žádné novinky', 'textValue': 'Nebyly nalezeny žádné aktuality.'} %}
    {% endif %}
{% endfor %}
{% if pagination is defined and pagination %}
    <div class="col-12 actualities-pagination ">
        <div class="container">
            <nav class="row">
                <a class="col-6 text-start">⇐<small class="d-none d-md-inline"> Starší</small></a>
                <a class="col-6 text-end"><small class="d-none d-md-inline">Novější </small>⇒</a>
            </nav>
        </div>
    </div>
{% endif %}