{% extends '@ZakjakubOswisCore/web/page-skeleton-default.html.twig' %}

{% set page = "actualities" %}

{% block html_title %}{{ title|default('Aktuality') }}{% endblock html_title %}
{% block html_description %}{{ description|default('Přehled aktualit.') }}{% endblock html_description %}

{% block body_content %}
    <main class="container web-actualities-main" id="main-content-container">
        {% for actuality in actualities %}
            {% include '@ZakjakubOswisWeb/web/parts/web-actuality-preview.html.twig' %}
        {% else %}
            <article class="col-lg-12 actuality-preview">
                <div><p>Nebyly nalezeny žádné aktuality.</p></div>
            </article>
        {% endfor %}
    </main>
{% endblock body_content %}
